@charset "UTF-8";

@font-face {
  font-family: "Apercu";
  src: url("./Fonts/apercu-regular-webfont.woff") format('woff');
}

body {
  text-align: center;
  font-family: "Apercu";
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#home{
  display: block;
  float: left;
}

#header{
  display: block;
  padding: 30px;
}

li a{
  color: rgb(76, 167, 220);
  text-decoration: none;
}


nav a{
  color: rgb(0, 0, 0);
  text-decoration: none;
}


.libimg{
  width: 100%;
  height: 500px;
 
}


.maindiv{
  min-height: 700px;
}


.imgleft{
  display: block;
  position:absolute;
  top: 50px;
  left: 50%;
}


.imgright {
display: block;
position: absolute;
top: 50px;
right: 50%;
}


h1 {
  color: white;
}

.imgcontainer {
  position: relative;
  text-align: center;
}

button{
  background-color: rgb(76, 167, 220);
  color: white;
  margin-right: 5px; 
}

/* button a{
  text-decoration: none;
  color: white;
  background-color: rgb(76, 167, 220);
  padding: 15px;
  border-radius: 7px;
} */

.formdiv{
  float:center;
  margin: auto auto auto auto;
  max-width: 60%;
}

.signuplogo{
  margin: auto 0;
}

.form-control{
  background-color: rgb(164, 206, 245)
}

#bookheader{
  float: left;
}

.homelogo{
 display: inline;
}

hr{
  border: 0.5px solid rgb(164, 206, 245);
}

nav-item a{
  text-decoration: none;
  color: white;
}

